@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
}

:root {
    --font-color: #172339;
    --background-color: #FAF8F6;
    --card-color: #172339;
    --card-secondary: Grey;
    --smallTextColor: #49566D;
}

body {
    background-color: var(--background-color);
}

.container {
    max-width: 1000px;
    margin: 30px auto;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 50px;
    height: 20px;
}

.header .logo img {
    width: 100%;
    object-fit: contain;
}

.btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 30px;
    border: 1px solid var(--font-color);
    border-radius: 5px;
}

.header-btn:hover,
.header-btn:active {
    background-color: var(--font-color);
    color: white;
}

.hero {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1716px;
}

.hero .left {
    background: url("assets/image-hero-portrait.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    grid-column: 1/4;
    margin: 40px 0;
    min-height: 500px;
}

.text-contain {
    width: 635px;
    position: relative;
}

.hero .left h1 {
    font-size: 70px;
    font-weight: normal;
    margin-top: 5px;
}

.hero-curve {
    display: block;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: auto;
    text-align: right;

}

.hero .left p {
    max-width: 350px;
    margin: 30px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--smallTextColor);
}


.left-btn {
    background-color: var(--font-color);
    color: white;
    border: 0;
}

.left-btn:hover {
    /* border: 0; */
    background: linear-gradient(170deg, rgb(203, 48, 227) 30%, rgb(160, 96, 255), rgb(255, 168, 78));
}

.phone-img {
    display: none;
}

.hero .right {
    grid-column: 4/5;
    align-self: center;
    margin-left: 40px;
}

.fig {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;

}

.fig .subtext {
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--smallTextColor);
    padding-top: 10px;
    letter-spacing: 2.5px;
}

.info {
    margin-top: 150px;
    background: var(--card-color);
    max-height: 550px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jeremy-img {
    /* position: relative;
    grid-column: 1/3; */
}

.curve-second {
    display: block;
    width: 64px;
    height: 52px;
    transform: translateY(-60px);
}

.person {
    height: 100%;
    object-fit: contain;
    transform: translateY(-20px);
    margin: 0 20px;
}

.works {
    width: 350px;
    color: #fff;
    margin: 0 30px;
}

.works .heading {
    font-size: 48px;
    font-weight: 400;
    margin: 20px 0;
}

.works .para {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.1px;
}

.desc {
    margin-top: 40px;
}

.desc p:nth-of-type(1) {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
}

.desc p:nth-of-type(2) {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

footer {
    height: 460px;
    background-color: #F3EDE7;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -280px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: -1;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.socials img {
    padding: 10px 10px;
}

.socials img:hover {
    filter: invert(0.5);
}

@media (max-width:768px) {
    .container {
        width: 660px;
    }

    .text-contain {
        width: 560px;
    }

    .left .text-contain h1 {
        font-size: 56px;
    }

    .hero .left {
        grid-row: 1;
        grid-column: 1/5;

    }

    .hero .right {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;

    }

    .info {
        flex-direction: column;
        min-height: 684px;
    }

    .person {
        max-height: 402px;
        transform: translateY(-140px);
    }

    .works {
        min-width: 90%;
        transform: translateY(-30px);
    }

    .works .heading {
        font-size: 40px;
        text-align: center;
    }

    .works .para {
        font-size: 18px;
        text-align: center;
    }

    .curve-second {
        transform: translateY(-90px);
    }

    .desc {
        text-align: center;
        transform: translateY(-20px);
    }
}

@media (max-width:425px) {
    header {
        padding: 10px;
    }

    .phone-img {
        width: 100%;
        display: block;
        margin-top: 15px;
    }

    .container {
        width: 100%;
    }

    .left .text-contain {
        width: 100%;
    }

    .left .text-contain h1 {
        font-size: 38px;
    }

    .hero-curve {
        width: 151.472px;
        height: 19px;

    }

    .hero .left {
        margin-top: 0;
        margin-left: 10px;
        margin-right: 10px;
        background: none;
    }

    .hero .left p {
        max-width: 100%;
    }

    .hero .right {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin-bottom: 40px;
    }

    .fig {
        justify-self: center;
    }

    .person {
        transform: translateY(-170px);
    }


    .heading {
        font-size: 40px;

    }

    .curve-second {
        transform: translateY(-140px);
    }

    .desc {
        text-align: center;
        transform: translateY(0px);
    }

    .works {
        min-width: 90%;
        min-height: 100%;
        transform: translateY(-150px);
    }

    .desc {
        font-size: 18px;
    }

    .footer-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

}